/* @font-face {
    font-family: 'Nunito Sans';
    src: url('./fonts/NunitoSans-VariableFont.ttf');
    font-style: normal;
}

@theme {
    --font-display: 'Nunito Sans', system-ui, Avenir, Helvetica, Arial,
        sans-serif !important;
}

:root {
    font-family: 'Nunito Sans', system-ui, Avenir, Helvetica, Arial, sans-serif !important;
    --default-font-family: 'Nunito Sans', system-ui, Avenir, Helvetica, Arial,
        sans-serif !important;

    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;
    color: #000;
    background-color: #fff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: 'Nunito Sans' !important;
    margin: 0;
    display: flex;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
}

.radix-themes {
    --default-font-family: 'Nunito Sans', system-ui, Avenir, Helvetica, Arial,
        sans-serif !important;
} */
