@font-face {
    font-family: 'Nunito Sans';
    src: url('./assets/fonts/NunitoSans-VariableFont.ttf');
    font-style: normal;
}
/* 
@import './assets/style.css'; */
@import 'tailwindcss';
@import '@radix-ui/themes/styles.css' layer(components);

@theme {
    --font-display: 'Nunito Sans', system-ui, Avenir, Helvetica, Arial,
        sans-serif;
}

.radix-themes {
    --default-font-family: 'Nunito Sans';
}

:root {
    font-family: var(--font-display) !important;
}
